// Init
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
$background: #effafa;
$primary: #5ca5a5;
$textDark: #2b3939;
$textGray: #7c8f8f;
$shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
$font: "League Spartan", sans-serif;
$inspect: red solid 1px;

// Utilities
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  display: block;
  object-fit: cover;
}
.border-left {
  border-left: 5px solid $primary;
}

//--- Main Styles

body {
  font-family: $font;
  background: $background;
}

header {
  width: 100%;
  height: 156px;
  background: $primary;
  background-image: url("../assets/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  // border: $inspect;
  display: flex;
  justify-content: center;
}

//--- Jobs Styles

.jobs-container {
  // border: $inspect;
  margin: 0 1.5rem;
  margin-top: 76px;
  width: 1110px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.job-wrapper {
  padding: 32px 40px;
  width: 100%;
  height: 152px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow;
  transition: 250ms ease;

  .general-info-wrapper {
    display: flex;

    .col {
      margin-left: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-size: 1.125rem;
        color: $primary;
        font-weight: 700;
      }
      h3 {
        font-size: 1.375rem;
        color: $textDark;
        font-weight: 700;
      }

      .time-location-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;

        p {
          font-size: 1.125rem;
          color: $textGray;
          font-weight: 500;
        }
        .dot {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #b7c4c4;
        }
      }
    }
  }
}

.job-wrapper:hover {
  transform: scale(1.02);
}

//--- Flags Styles
.flag {
  width: fit-content;
  padding: 7px;
  text-transform: uppercase;
  border-radius: 12px;
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
}
.new-flag {
  background: $primary;
}

.feature-flag {
  background: #2b3939;
}
